/*----- partie responsive ------*/

#header{
  height:77px;
  max-width: 1500px;
  width:100%;
  background-color: #f7e6a8;
}

#main{
  background-image: url(Images/double-moon.jpg);
  max-width: 1000px;
  width:100%;
  margin: 0 auto;
  min-height: 1000px;
  height: 100%;
  position: relative;
  /*background-color: #c5e9ea;*/
}

#main h2, #main img{
  padding: 0 1%;
}

#main p{
  padding: O 1%;
}

#left-footer{
  max-width:500px;
  width:33.3333%;
  height: 250px;
  float:left;
  background-color: pink;
}

#middle-footer{
  max-width: 500px;
  width:33.3333%;
  height: 250px;
  float:left;
  overflow: scroll;
  background-color: #f7e6a8;
}

#right-footer{
  max-width:500px;
  width:33.3333%;
  height:250px;
  float:right;
  background-color: pink;
}

footer{
  height:250px;
  max-width: 1500px;
  width: 100%;
  clear: both;
}

img{
  max-width: 100%;
}

ul{
  list-style: none;
}
/* ---------- media queries ---------*/

@media only screen and (max-width: 1024px){ /* tablette */
  #header{
    height:100%;
    min-height: 77px;
    max-width: 1024px;
  /*  width:100%;*/
    float:none;
  }

  body{
    font:12px;
  }
}

@media only screen and (max-width:767px){ /* grand écran mobile */
  #hearder{
    height:77px;
  }
  #main{
    width:100%;
    margin: 0 auto;
    background-color: #c5e9ea;
  }
  .link-dev{
    padding-left: 48em;
  }

  .menu{
    overflow: hidden;
  }

  .nav-primary{
    display: block;
  }

  .nav-primary ul li{ /* a revoir le nav est mal placer*/
    display: inline;
  }

  h1{
    font-size: 1em;
  }

  .paragraphs p{
    font-size: 0.8em;
    margin-left: 0;
  }

  .list-inline3 li {
    list-style: none;
    display:inline;
    text-decoration: none;
    overflow: hidden;

  }

  /*dev-space*/
  .table {
                  width:             25%;
                  margin-left:       8em;
  }

}




@media screen and (max-width:375px){ /*plus petit écran mobile*/

      .link-dev {

                  padding-left:      0em;
      }

      .inscription .codevores{

                  display:           none;
      }
      .accroche h1{

                  font-size:         1em;
      }
      .values .paragraphs{

                  font-size:          1em;
                  padding-top:        1em;
                  line-height:      0.3em;
                  padding-left:       1em;
                  width:             15em;
      }

      .section-header__title h2{

                  font-size:          1em;
      }

      .section-header__detail .paragraphs{

                  font-size:          1em;
                  padding-top:        1em;
                  line-height:      0.3em;
                  padding-left:       1em;
                  width:             15em;
      }

      .logo-list__logo img {
          max-width: 35%;
      }

      .billboard__content h3{
                  font-size:         1rem;

      }

      .hdl9e2-2 h2{
                font-size:           1rem;
      }
      .honMkf h3{

                  font-size:         1rem;
      }

      .hdl9e2-6{

                  overflow:         scroll;
      }


      /*----page subscribtion--------*/
      .personal h2 {

                  font-size:         1.5em;
      }

      .reference h2{

                  font-size:         1.5em;
      }

      .input select{

                  font-size:         0.5em;
      }

      .note h2{

                  font-size:         1.5em;
      }

      .description textarea{

                    display:          none;
      }

      .note textarea{

                    display:          none;
      }

      .contact input{

            background-color:       inherit;
                      width:           auto;
                  border-top:             0;
                  border-left:            0;
                  border-right:           0;
      }

      .timeline label{

                        width:          50%;
      }

      .categories table{

                        width:           50%;
                    font-size:         0.5em;
      }

      /*fiche dev*/

      .bob-rond, .stuart-rond, .kevin-rond{

                        width:          5em;
                        height:         5em;
                        border-radius:  2em;
      }

      /*dev-space*/


      .paragraphs p {
                        font-size:       1em;
      }

      .project_description_cont h1{
                        font-size:     2em;
      }

      .project_image img{

                        widows:           5em;
                        padding:            0;
      }

      .table { /* le tableau de projets*/
                        position:    relative;
                        display:        table;
                        width:            50%;
                        margin-left:      4em;
                        padding-top:      1em;
      }


      #footer{

                  display: none;
      }

      #left-footer{
        width:40%;
        height: 250px;
      }

      #middle-footer{
        width:60%;
        height: 250px;
        float:right;
        margin-top:-250px;
      }

      #right-footer{
        width:100%;
        height:250px;
        float:none;
      }

      body p {
        font-size: 5px;
      }
}
/*------------------------ pour le thème jour-nuit ------------------------*/
.jour, .nuit{
	display: flex;
	display: inline-block;
}

.theme-jour{
	background-color:white;
	color: #cec8ce;
}

.theme-nuit{
	background-color: pink;
	color:grey;
}

/* ------- passons au style -------- */

body{
  font-family: 'Quicksand', sans-serif;
  margin: 0px; /* pour éviter les blancs entre les banner et le fond*/
}

h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
  background-image: linear-gradient(to bottom, transparent 50%, #FFDA00 50%);
  background-size: 1px 12px;
  background-position: 0px 97%;
  background-repeat: repeat-x;
  display: inline;
  text-shadow: 3px 4px #ffffff;
}


/* -------------------------------------------------------------------------------*/
/* ------PAGE INDEX --- partie de la communauté avec un sneak peak de tout --- */
/* -------------------------------------------------------------------------------*/


/*----------------------partie header----------------*/
.inscription{
  display:flex;
}

.inscription .link-recruiters, .link-dev{
  display:inline-block;
}
.link-recruiters{
  text-decoration: none;
  color:grey;
}

.link-dev{
  text-decoration: none;
  color:grey;
}

.codevores{
  position: relative; /* a noter pour le futur et pouvoir décaler une div comme on veut avec ces deux combos */
  left:10em;/* ne pas oublier cette deuxieme partie pour la bouger */
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  background-image: linear-gradient(to bottom, transparent 50%, #FFDA00 50%);
  background-size: 1px 12px;
  background-position: 0px 97%;
  background-repeat: repeat-x;
  display: inline;
  text-shadow: 3px 4px #fffff;
}

.nav-primary{
  margin: 0em 0em;
  width: 30em;
}

.nav{
  background-color:#ffffff;
  color: #000000;
  list-style: none;
}


nav li a{
  text-decoration: none;
  color: #000000;
}

.list-inline li {
  list-style: none;
  text-decoration: none;
}

.jour, .nuit{
  background-color: transparent;
  border: transparent;
}



/*---------------- PARTIE MAIN -------------*/




img{
  background-position: center;
}

.accroche{
  padding-top: 2em;
  padding-left: 2em;
  text-align: left;
}

.italic{
  font-style: italic;
}

.bold{
  font-size: bold;
}

.paragraphs{
  padding-top: 3em;
  padding-left: 20em;
  border: 0 solid;
}

.paragraphs p{
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: justify;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 150%;
    width: 300%;
  }

  to {
    margin-left: 50%;
    width: 100%;
  }
}

.values .paragraphs{
  padding-right: 3rem;
}




/*--- SNEAK PEAK PORTFOLIO DEV : la liste animé -------*/



#list-animation {
	margin: 2em auto;
	padding: 0;
	max-width: 600px;
	list-style: none;
	overflow: scroll;
}

#list-animation li {
	display:inline-block;
	width: 10em;
	height: 12em;
	margin: 3em 1em;
	text-align: center;
	line-height: 2em;
	opacity: 0;
	animation: fadeIn 1s ease-in both;
}

#list-animation li:nth-child(2) {
	animation-delay: 1s;
}
#list-animation li:nth-child(3) {
	animation-delay: 2s;
}
#list-animation li:nth-child(4) {
	animation-delay: 3s;
}
#list-animation li:nth-child(5) {
	animation-delay: 4s;
}
#list-animation li:nth-child(5) {
	animation-delay: 5s;
}
#list-animation li:nth-child(5) {
	animation-delay: 5s;
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.img-fluid {
    max-width: 100%;
    height: auto;
}




/*------ pour l'image a linterieur de la list-------*/


.imglink img {
    border: 1px solid #ddd;
    width:150%;
    border-radius: 10px;
}

.center{
  padding-left: 3em;
}




/*--------- SNEAK PEAK PORTFOLIO ENTREPRISE --------*/
/*la c'est juste le titre et le texte */


@media (min-width: 48rem){
.section-header.-narrow .section-header__title {
    width: 60%;
}


@media (min-width: 36rem){
.section-header__title {
    margin-bottom: 3.75rem;
}

@media (min-width: 62rem){
.header-xl {
    font-size: 4rem;
}

.header-xl {
    font-size: 2.5rem;
    font-weight: 700;
}
h2 {
    font-family: 'Quicksand', sans-serif;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, transparent 50%, #FFDA00 50%);
    background-size: 1px 6px;
    background-position: 0px 101%;
    background-repeat: repeat-x;
    display: inline;
    text-shadow: 5px 3px #ffffff;
}

@media (min-width: 48rem){
.section-header__detail {
    padding-right: 6rem;
}

@media (min-width: 36rem){
.section-header__detail {
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
}

/*-------- SNEAK PEAK  logo des entreprises---------*/
.logo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 6em;
}

.logo-list .logo-list__logo .image img{
  display:inline-block;

}

@media (min-width: 48rem){
.space-b--lg {
    padding-bottom: 9rem;
}

.space-b--lg {
    padding-bottom: 7.5rem;
}

@media (min-width: 48rem){
.gutter, .gutter-md, .gutter-sm, .gutter-xs {
    padding-left: 2.625rem;
    padding-right: 2.625rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 80rem;
}

@media (min-width: 79.75rem){
.container {
    max-width: 79.75rem;
}

@media (min-width: 76.875rem){
.container {
    max-width: 76.875rem;
}

@media (min-width: 62rem){
.container {
    max-width: 62rem;
}

@media (min-width: 48rem){
.container {
    max-width: 48rem;
}

@media (min-width: 36rem){
.container {
    max-width: 36rem;
}

@media (min-width: 26.25rem){
.container {
    max-width: 26.25rem;
}

.container {
    width: 100%;
}

@media (min-width: 48rem){
.logo-list__logo {
    width: 25%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    max-width: 100%;
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.logo-list__logo {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
    max-width: 12rem;
}


/*-------- SNEAK PEAK BLOG---------*/

/*partie titre*/
.eyIDFm {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 4rem 0px;
    display: block;
}

.fxFQyp {
    min-width: 0px;
    width: 100%;
    max-width: 78rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 1.5rem;
}

.dOcBsp {
    margin-bottom: 3.125rem;
    z-index: 10;
    display: flex;
    padding-bottom: 1.5rem;
    text-align: left;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.HXuyi {
    font-size: 1.9375rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
}

.bzMUjw {
    margin-left: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

/* parie article */

.eliJnu:last-child {
    margin-bottom: 0px;
}

.dmbPyR {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-bottom: calc(-3rem);
}

.dmbPyR > div:nth-child(2n+1) {
    width: 33.3333%;
}

.dmbPyR > div{
    padding: 0px 1.5rem calc(3rem);
}

/*1er article*/

.iAUTHV:last-child {
    margin-bottom: 0px;
}

.iAUTHV {
    position: relative;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.05) 1px 2px 4px;
    backface-visibility: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    height: 25rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
}

.iAUTHV .w1yu79-0 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 14.375rem;
    flex: 0 1 auto;
}

.dILetJ {
    position: relative;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
    flex: 0 0 auto;
}

.iAUTHV .w1yu79-9 {
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

.ceWPFK {
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.welcometothejungle.co/uploads/article/image/5842/158497/thumb_profil-tele-travailleurs-1.jpg);
    background-size: cover;
    transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
    background-position: center center;
    background-repeat: no-repeat;
}

/*le bas de l'article */

.iAUTHV .w1yu79-2 {
    display: flex;
    flex-direction: column;
    height: 45%;
    z-index: 1;
    flex: 0 0 auto;
}

.iAUTHV .sc-1kkiv1h-3 {
    background-color: rgb(255, 255, 255);
}

.kQAvhz {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1.5rem;
    transition: all 0.2s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
}

.iAUTHV .w1yu79-3 {
    flex: 0 1 auto;
}

.ggpoRi {
    position: relative;
    z-index: 2;
}

header{
    display: block;
}

.iAUTHV .w1yu79-9 {
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.cWuPet {
    font-size: 1.125rem;
    font-weight: 600;
}

.iAUTHV .w1yu79-6 {
    opacity: 0;
    font-size: 0.9375rem;
    padding-top: 0.5rem;
    transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
}

/* le coeur et la date de l'article */

.iAUTHV .w1yu79-7 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 30;
    align-items: flex-end;
    padding: 1rem 1.5rem 1.5rem;
    flex: 1 0 auto;
}

.eKvIYo {
    display: flex;
}

.fKlbQs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -0.3rem;
    font-size: 0.75rem;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    color: rgb(151, 153, 157);
}

ul {
    list-style: none;
}

.fKlbQs .sc-1qc42fc-0 {
    margin: 0px 0.8125rem 0.3rem 0px;
}

.ikTYuO {
    font-weight: 400;
    max-width: 100%;
    -webkit-box-align: baseline;
    align-items: baseline;
    font-size: inherit;
    display: flex;
    flex: 0 0 auto;
}

.fKlbQs .sc-1qc42fc-2 {
    max-width: 12.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* le coeur */
.gqlJUd {
    display: flex;
    margin-left: auto;
}

.jAVdzF {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(175, 175, 179);
    font-size: 0.75rem;
    font-weight: 600;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: none;
    padding: 0px;
}

/* article 2*/

.dmbPyR > div:nth-child(2n+2){
    width: 33.3333%;
}

.dmbPyR > div{
    width: calc(33.3333%);
    flex: 0 0 auto;
}

.dmbPyR > div {
    padding: 0px 1.5rem calc(3rem);
}

.hhdOes {
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.welcometothejungle.co/uploads/article/image/4072/145802/thumb_entretien-telephone-5.jpg);
    background-size: cover;
    transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
    background-position: center center;
    background-repeat: no-repeat;
}

/* article 3 */

.dmbPyR > div:nth-child(2n+1){
    width: 33.3333%;
}

.dmbPyR > div {
    flex: 0 0 auto;
}

.dmbPyR > div{
    padding: 0px 1.5rem calc(3rem);
}

.kzdCDM {
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.welcometothejungle.co/uploads/article/image/1623/158472/thumb_doctor-2.jpg);
    background-size: cover;
    transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
    background-position: center center;
    background-repeat: no-repeat;
}





/*-------- SUBSCRIBTION---------*/

@media (min-width: 48rem){
.billboard__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 2rem 6rem;
}

.header-lg {
    font-size: 2.25rem;
}

.btn.-wide {
    padding-left: 3rem;
    padding-right: 3rem;
}

.btn.-med {
    padding: 1.5rem 1rem;
}

@media (min-width: 48rem){
.btn {
    padding: 1rem 1.5rem;
}

.btn, .btn:hover {
    border-color: #0b292f;
}

.btn {
    text-decoration: none;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: all;
    display: inline-block;
    border-width: 2px;
    color: #0b292f;
    font-size: .875rem;
    text-align: center;
    font-weight: 500;
}




/* -------------------------------------------------------------------------------*/
/* ------PAGE RECRUITERS-SPACE --- portfolio des dev------------------- */
/* -------------------------------------------------------------------------------*/

/* le texte intro */

.form-inline .form-control {
    display: inline-block;
    width: 50em;
    vertical-align: middle;
    padding-left: 1em;
    margin-left: 2em;
}

.navbar{
  padding: 1.5rem 1rem;
}
/* nos portfolio les plus populaires */



/* nos developpeurs star */

.divider {
    width: 100px;
    margin-top: 5em;
    margin: 0 auto 5.5% auto;
    border-top: 1px solid #0b0b0b;
}

@media only screen and (min-width: 80em){
.pt-2sp.pt-2sp {
    padding-top: 7.5rem;
}

@media only screen and (min-width: 64em){
.pt-2sp.pt-2sp {
    padding-top: 5rem;
}

.pt-2sp.pt-2sp {
    padding-top: 2.5rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

@media only screen and (min-width: 80em){
.prose {
    font-size: 1.5rem;
    line-height: 1.5;
}

@media only screen and (min-width: 64em){
.prose {
    font-size: 1.25rem;
    line-height: 1.5;
}

/* 1er portfolio */

@media only screen and (min-width: 64em){
.w-third-md {
    width: 33.33333%;
}

.prose {
    position: relative;
}

.prose a {
    border-bottom: none;
    background-image: linear-gradient(currentColor,currentColor);
    background-repeat: no-repeat;
    background-position: 0 1.15em;
    background-size: 100% 2px;
}

.ratio-1x1 {
    padding-bottom: 100%;
}

.relative {
    position: relative;
}

.bg-black {
    background-color: #000000;
}

.pv-075em.pv-075em {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.ph-1em.ph-1em {
    padding-right: 1em;
    padding-left: 1em;
}

.z-1 {
    z-index: 1;
}

.absolute {
    position: absolute;
}

.absolute--fill {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cadre img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*-------- pagination----- */
.navigation{
  margin-top: 2em;
}

.pagination .page-item{
  background-color: pink;
}

/* -------------------------------------------------------------------------------*/
/* ------PAGE SUBSCRIBTION --- formulaire de contact------------------- */
/* -------------------------------------------------------------------------------*/
.view{
  margin: 0 auto;
}

input[type=text]{
  background-color: rgba(0,0,0,0);
  border: 1px solid #aa9b93;
  width: 40em;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.contact .form-ctn /*form>div>div.email*/{
  display: inline-block;
  width: calc(50% - var(--gutter)/2);
}

label{
  margin-top: 2em;
}
input{
  display: block;
  margin: .5rem auto;
  line-height: 1.15;
}

div label{
  display: inline-block;
  margin-left: 10em;
}

.contact .form-ctn form>div>div {
    margin-top: 40px;
    position: relative;
}

.budget-input{
	background-color: inherit;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

div .checkbox{
  display: inline-block;
}

select{
  margin:2em;
  border: none;
  background-color: inherit;
}

.espace{
  margin-top: 2em;
}

.button-send{
  border: none;
  margin-left: 29.5em;
}



/* -------------------------------------------------------------------------------*/
/* ------PAGE CONTACT DEVELOPPER --- lorsque l'on clic sur la photo de andrew
Huang dans l'espace recruteur, la fiche du developpeur avec tout ses travaux apparait --- */
/* -------------------------------------------------------------------------------*/


/* partie descrition*/
.titre-gris{
  font-family: 'Libre Caslon Text', serif;
  color:grey;
  font-size: 2.250em;
  margin-top: 7em;
  opacity: 0.5;
}

.display-4{
  font-family: 'Libre Caslon Text', serif;
  font-size: 5.625em;
  margin-top: 1em;
}

.lead{
  font-family: 'Fira Sans', sans-serif;
  color: black;
  margin-top: 2em;
  margin-left: 15em;
}

.quote {
    color: black;
    margin-top: 2em;
    margin-left: 19em;
    font-style: italic;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


p .lead: after{
  display:block;
  font-family: 'Fira Sans', sans-serif;
  margin-left: 10em;
  margin-top: 2em;
}

.my-4{
  margin-top: 10em;
}

.my-4 span{
  font-size: 2em;
}

.display-5{
  font-family: 'Libre Caslon Text', serif;
  font-size: 2.625em;
  margin-top: 1em;
  color: black;
}

.btn-warning{
  margin-left: 15em;
  border:0;
}

/*partie skills */

.list-group{
line-height: 2em;
}

.list-group-flush .list-group-item1{
    border-top-width: 0;
    background-color: pink;
    padding: .75rem 1.25rem;
    position: relative;
    display: block;
}

.speciality{
  background-image: linear-gradient(to bottom, transparent 50%, #FFDA00 50%);
  background-size: 1px 12px;
  background-position: 0px 97%;
  background-repeat: repeat-x;
  display: inline;
  text-shadow: 3px 4px #ffffff;
}

/*partie portfolio*/
.andrew-portfolio, .andrew-portfolio2, .andrew-portfolio3{
  display:flex;
  margin:1.563em

}

.portfolio-andrew1, .portfolio-andrew2{
  width: 50%;
  display: inline-block;
}

.portfolio-andrew1{
  flex-grow: 2;
}


.element, .element2{  /*rajouter ca pour le journall*/
	cursor: pointer;
  margin:1.563em;
	}

.transition-width {
    transition-property: 0%, 60%;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

.transition-width:hover {
	width: 70%;
	background: #008ed6;
}

/*partie avis*/

.onflexletout{
  margin-left: 5em;
  display: flex;
  line-height: 2em;
}

.bob-rond{
  height: 5em;
}

.bob-rond, .stuart-rond,.kevin-rond{
  border-radius: 5em;
  width: 5em;
}

.person-avis{
  padding-top: 1em;
  padding-left: 1em;
}
.nom-avis{
  font-size: 2em;
}

.position-avis{
  font-size: 1em;
  opacity: 0.5em;
}
.avis{
  padding-top: 1em;
  padding-left: 1em;
  width:40em;
}









/* -------------------------------------------------------------------------------*/
/* ------PAGE DEV-SPACE --- présentation des entreprises/ ONG / associations --- */
/* -------------------------------------------------------------------------------*/
#main{
  background-color: white;
}

.paragraphs {
  padding-bottom: 2em;
    background-image: : url('Images/background4.jpg') center no-repeat !important;
    /*background-color: transparent;*/
}

/* article par dessus le tableau */
article{
  display: block;
  margin-right: 6em;
}

.project_description {
  position: relative;
  top: 50%;
  right: -160px;
  margin-top: -100px;
  width: 210px;
  background: #fff;
  z-index: 4;
}

.project_description_cont{ /* le cadre par dessus les 4 images*/
  position: relative;
  padding: 25px;
  opacity: 1;
  z-index: 5;
}

.project_title {
  display: inline;
  font: normal 17px/30px 'f24e4d5d';
  border-bottom: 4px solid #fff;
}

.brief-recruiter{ /* besoin de changer la police qui est introuvable */
  font-family: 'f24e4d5d',"Helvetica Neue","Helvetica","Arial";
  font-size: 14px;
  line-height: 17px;
  color: #000;
}


/*  le tableau */


#project_annonay_content img,
#project_ca-commence-par-moi_content img,
#project_cacao-forest_content img,
#project_please-come-inside_content img,
#project_away-hostel-and-coffee-shop_content img,
#main img{

  padding: 0 0;
}
.table { /* le tableau de projets*/
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin-left: 2em;
  padding-top: 3em;
}

.project_images {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 3;
}


.project_image img{
  width:28em;
  padding: 0;
}

.project_image.first { /*pour avoir de lespace entre les 4 images*/
  margin-bottom: 20px;
}

.project_image.even {
  margin-left: 20px;
}

.project_image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 29em;
  height: 18em;
  border: 10px solid #fff;
  overflow: hidden;
}

figure {
  margin: 0;
}

/* article par dessus le tableau */
#project_ca-commence-par-moi_description{
  display: block;
  margin-top: -103em;
  margin-right: 6em;
}
#project_annonay_description{
  display: block;
  margin-top: -53em;
  margin-right: 6em;
}

#project_cacao-forest_description{
  display: block;
  margin-top: 3em;
  margin-right: 6em;
}

#project_please-come-inside_description{
  display: block;
  margin-top: 59em;
  margin-right: 6em;
}
/*
#project_away-hostel-and-coffee-shop_description{
  display: block;
  margin-top: 59em;
  margin-right: 6em;
}*/

.project_description {
  position: absolute;
  top: 60%;
  right: -160px;
  margin-top: -100px;
  width: 210px;
  background: #fff;
  z-index: 4;
  font-size: small;
}

.project_description_cont{ /* le cadre par dessus les 4 images*/
  position: relative;
  padding: 25px;
  opacity: 1;
  z-index: 5;
}

.project_text{
  padding-top: 2em;
}

.project_title {
  display: inline;
  font: normal 17px/30px 'f24e4d5d';
  border-bottom: 4px solid #fff;
}

.brief-recruiter{ /* besoin de changer la police qui est introuvable */
  font-family: 'f24e4d5d',"Helvetica Neue","Helvetica","Arial";
  font-size: 14px;
  line-height: 17px;
  color: #000;
}



/* -------------------------------------------------------------------------------*/
/* ------- PRESENTATION DES DEV -----------------------------------------*/
/* -------------------------------------------------------------------------------*/

.hello-above-titre-dev{
  font-family: 'libre caslon text',Sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3em;
  color: #b3b6b9;
}
.titre-dev{
  font-family:'Libre Caslon Text', serif;
  font-size: 90px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1em;
}

.texte-dev{
  font-family: 'Fira Sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6em;
  letter-spacing: -.66px;
}

.button-learn-more-dev{
  font-family: fira sans,Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: .36px;
}


/* -------------------------------------------------------------------------------*/
/* ----  FOOTER ------------ les réseaux sociaux  ---- */
/* -------------------------------------------------------------------------------*/

.footer{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

/* left and right footer*/
.list-inline3 li {
  padding-bottom: 1em;
  list-style: none;
  text-decoration: none;
}

.list-inline3{
  position: relative;
  height: 2em;
  padding-top: 1em;
}

/*middle footer*/
.list-inline2 li {
  list-style: none;
  display:inline;
  justify-content: space-around;
  text-decoration: none;
}

a{
  color: black;
}

.padding-top-middle-footer{
  padding-top: 2em;
}

h4{
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  background-image: linear-gradient(to bottom, transparent 50%, #FFDA00 50%);
  background-size: 1px 12px;
  background-position: 0px 97%;
  background-repeat: repeat-x;
  display: inline;
  text-shadow: 1px 2px #ffffff;
}

i{
  padding-right: 2em;
}

.copyright{
  margin-top: 4em;
  font-size:0.8em;
}
/* -------------------------------------------------------------------------------*/
 /* ----  LES COOKIES ---------------------------- */
 /* -------------------------------------------------------------------------------*/

.window
{
  display: flex;
  text-align: center;
  margin-top: auto;
  justify-content: center;
  background-color: #fff5f2;
  bottom: 0;
  position: fixed;
  width: 100%;!important
  height:10%;
  color:pink;
  border-radius:
  /* pour occuper tout lespace de la boite du texte*/
  flex-grow: 2; /* on le met pour le paragraphe texte et ca va de 1 à 3 selon la force*/
}

.window p{
  font-size: 0.7em;
  line-height: 2.5;
  padding-top: 1em;
}

.cookie-button{
  border-radius: 1em;
  margin: 0.8em;
}
