/*----- partie responsive ------*/

#header{
  height:77px;
  max-width: 1500px;
  width:100%;
  background-color: #f7e6a8;
}

#main{
  max-width: 1000px;
  width:100%;
  margin: 0 auto;
  min-height: 1000px;
  height: 100%;
  position: relative;
  background-color: #c5e9ea;
}

#main h2, #main img{
  padding: 0 1%;
}

#main p{
  padding: O 1%;
}

#left-footer{
  max-width:500px;
  width:33.3333%;
  height: 250px;
  float:left;
  background-color: pink;
}

#middle-footer{
  max-width: 500px;
  width:33.3333%;
  height: 250px;
  float:left;
  background-color: #f7e6a8;
}

#right-footer{
  max-width:500px;
  width:33.3333%;
  height:250px;
  float:right;
  background-color: pink;
}

footer{
  height:250px;
  max-width: 1500px;
  width: 100%;
  clear: both;
}

img{
  max-width: 100%;
}
/* ---------- media queries ---------*/

@media only screen and (max-width: 1024px){ /* tablette */
  #header{
    height:100%;
    min-height: 77px;
    max-width: 1024px;
    width:100%;
    float:none;
  }

  body{
    font:12px;
  }
}

@media only screen and (max-width:767px){ /* grand écran mobile */
  #hearder{
    height:77px;
  }
  #main{
    width:100%;
    margin: 0 auto;
    background-color: #c5e9ea;
  }
  .link-dev{
    padding-left: 48em;
  }

  .menu{
    overflow: hidden;
  }

  .nav-primary{
    display: block;
  }

  .nav-primary ul li{ /* a revoir le nav est mal placer*/
    display: inline;
  }

  h1{
    font-size: 1em;
  }

  .paragraphs p{
    font-size: 0.8em;
    margin-left: 0;
  }
}



@media screen and (max-width:375px){ /*plus petit écran mobile*/

      .link-dev {

                  padding-left: 0em;
      }

      .inscription .codevores{

                  display: none;
      }
      .accroche h1{

                  font-size: 1em;
      }
      .values .paragraphs{
                 font-size: 1em;
                 padding-top: 1em;
                 line-height: 0.3em;
                  padding-left: 1em;
                  width:15em;
      }

      footer{
        min-height:250px;
        height: 100%;
      }

      #left-footer{
        width:40%;
        height: 250px;
      }

      #middle-footer{
        width:60%;
        height: 250px;
        float:right;
        margin-top:-250px;
      }

      #right-footer{
        width:100%;
        height:250px;
        float:none;
      }

      body p {
        font-size: 5px;
      }
}
/*------------------------ pour le thème jour-nuit ------------------------*/
.jour, .nuit{
	display: flex;
	display: inline-block;
}

.theme-jour{
	background-color: pink;
	color: #cec8ce;
}

.theme-nuit{
	background-color: #cec8ce;
	color:grey;
}

/* ------- passons au style -------- */

body{
  font-family: 'Quicksand', sans-serif;
  margin: 0px; /* pour éviter les blancs entre les banner et le fond*/
}

h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
  background-image: linear-gradient(to bottom, transparent 50%, #FFDA00 50%);
  background-size: 1px 12px;
  background-position: 0px 97%;
  background-repeat: repeat-x;
  display: inline;
  text-shadow: 3px 4px #ffffff;
}

h3, {
  font-family: 'Abril Fatface', cursive;
}

/* ---- page INDEX ----- */
/*----------------------partie header----------------*/
.inscription{
  display:flex;
}

.inscription .link-recruiters, .link-dev{
  display:inline-block;
}
.link-recruiters{
  text-decoration: none;
  color:grey;
}

.link-dev{
  text-decoration: none;
  color:grey;
}

.codevores{
  position: relative; /* a noter pour le futur et pouvoir décaler une div comme on veut avec ces deux combos */
  left:10em;/* ne pas oublier cette deuxieme partie pour la bouger */
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  background-image: linear-gradient(to bottom, transparent 50%, #FFDA00 50%);
  background-size: 1px 12px;
  background-position: 0px 97%;
  background-repeat: repeat-x;
  display: inline;
  text-shadow: 3px 4px #fffff;
}

.nav-primary{
  margin: 0em 0em;
  width: 30em;
}

.nav{
  background-color:#ffffff;
  color: #000000;
  list-style: none;
}


nav li a{
  text-decoration: none;
  color: #000000;
}

.list-inline li {
  list-style: none;
  text-decoration: none;
}

/*---------------- partie main -------------*/
img{
  background-position: center;
}

.accroche{
  padding-top: 2em;
  padding-left: 2em;
  text-align: left;
}

.italic{
  font-style: italic;
}

.bold{
  font-size: bold;
}

.paragraphs{
  padding-top: 3em;
  padding-left: 20em;
  border: 0 solid;
  width:23em;
}

.paragraphs p{
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: justify;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 150%;
    width: 300%;
  }

  to {
    margin-left: 50%;
    width: 100%;
  }
}

.values .paragraphs{
  padding-right: 3rem;
}
/* pour la partie portfolio developers : la liste animé */

#list-animation {
	margin: 2em auto;
	padding: 0;
	max-width: 600px;
	list-style: none;
	height: 15em;
}

#list-animation li {
	display:inline-block;
	width: 10em;
	height: 12em;
	margin: 3em 1em;
	text-align: center;
	line-height: 2em;
	opacity: 0;
	animation: fadeIn 1s ease-in both;
}

#list-animation li:nth-child(2) {
	animation-delay: 1s;
}
#list-animation li:nth-child(3) {
	animation-delay: 2s;
}
#list-animation li:nth-child(4) {
	animation-delay: 3s;
}
#list-animation li:nth-child(5) {
	animation-delay: 4s;
}
#list-animation li:nth-child(5) {
	animation-delay: 5s;
}
#list-animation li:nth-child(5) {
	animation-delay: 5s;
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* pour l'image a linterieur de la list*/
.imglink img {
    border: 1px solid #ddd;
    width:150%;
    border-radius: 10px;
}

.center{
  padding-left: 3em;
}

/* pour la partie portoflio entreprise */
/*la c'est juste le titre et le texte */
@media (min-width: 48rem){
.section-header.-narrow .section-header__title {
    width: 60%;
}


@media (min-width: 36rem){
.section-header__title {
    margin-bottom: 3.75rem;
}

@media (min-width: 62rem){
.header-xl {
    font-size: 4rem;
}

.header-xl {
    font-size: 2.5rem;
    font-family: Lyon,serif;
    font-weight: 700;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media (min-width: 48rem){
.section-header__detail {
    padding-right: 6rem;
}

@media (min-width: 36rem){
.section-header__detail {
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
}

/*la c'est pour les logo des entreprises*/
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.logo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*justify-content: center;*/
}

.logo-list .logo-list__logo .image img{
  display:inline-block;

}

@media (min-width: 48rem){
.space-b--lg {
    padding-bottom: 9rem;
}

.space-b--lg {
    padding-bottom: 7.5rem;
}

@media (min-width: 48rem){
.gutter, .gutter-md, .gutter-sm, .gutter-xs {
    padding-left: 2.625rem;
    padding-right: 2.625rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 80rem;
}

@media (min-width: 79.75rem){
.container {
    max-width: 79.75rem;
}

@media (min-width: 76.875rem){
.container {
    max-width: 76.875rem;
}

@media (min-width: 62rem){
.container {
    max-width: 62rem;
}

@media (min-width: 48rem){
.container {
    max-width: 48rem;
}

@media (min-width: 36rem){
.container {
    max-width: 36rem;
}

@media (min-width: 26.25rem){
.container {
    max-width: 26.25rem;
}

.container {
    width: 100%;
}

@media (min-width: 48rem){
.logo-list__logo {
    width: 25%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    max-width: 100%;
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.logo-list__logo {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
    max-width: 12rem;
}
/* POUR LE FUN
h5 {
    animation: fadein .6s cubic-bezier(.165,.84,.44,1) both;
    position: relative;
}
*/


/* PAGE RECRUITERS --- présentation des entreprises/ ONG / associations --- */
.table { /* le tableau de projets*/
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin-left: 2em;
}

.project_images {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 3;
}

.project_image.first { /*pour avoir de lespace entre les 4 images*/
  margin-bottom: 20px;
}

.project_image.even {
  margin-left: 20px;
}

.project_image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 27em;
  height: 15em;
  border: 10px solid #fff;
  overflow: hidden;
}

figure {
  margin: 0;
}

/* article par dessus le tableau */
article{
  display: block;
  margin-right: 6em;
}

.project_description {
  position: absolute;
  top: 50%;
  right: -160px;
  margin-top: -100px;
  width: 210px;
  background: #fff;
  z-index: 4;
}

.project_description_cont{ /* le cadre par dessus les 4 images*/
  position: relative;
  padding: 25px;
  opacity: 1;
  z-index: 5;
}

.project_title {
  display: inline;
  font: normal 17px/30px 'f24e4d5d';
  border-bottom: 4px solid #fff;
}

.brief-recruiter{ /* besoin de changer la police qui est introuvable */
  font-family: 'f24e4d5d',"Helvetica Neue","Helvetica","Arial";
  font-size: 14px;
  line-height: 17px;
  color: #000;
}




/* pour la partie présentation des développeurs*/

.hello-above-titre-dev{
  font-family: 'libre caslon text',Sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3em;
  color: #b3b6b9;
}
.titre-dev{
  font-family:'Libre Caslon Text', serif;
  font-size: 90px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1em;
}

.texte-dev{
  font-family: 'Fira Sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6em;
  letter-spacing: -.66px;
}

.button-learn-more-dev{
  font-family: fira sans,Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: .36px;
}



/* ----  code pour les réseaux sociaux  ---- */
.footer{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

/* left and right footer*/
.list-inline3 li {
  padding-bottom: 1em;
  list-style: none;
  text-decoration: none;
}

.list-inline3{
  position: relative;
  height: 2em;
  padding-top: 1em;
}

/*middle footer*/
.list-inline2 li {
  list-style: none;
  display:inline;
  justify-content: space-around;
  text-decoration: none;
}

a{
  color: black;
}

.padding-top-middle-footer{
  padding-top: 2em;
}

h4{
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  background-image: linear-gradient(to bottom, transparent 50%, #FFDA00 50%);
  background-size: 1px 12px;
  background-position: 0px 97%;
  background-repeat: repeat-x;
  display: inline;
  text-shadow: 1px 2px #ffffff;
}

i{
  padding-right: 2em;
}

.copyright{
  margin-top: 4em;
  font-size:0.8em;
}

 /* ----  code pour les cookies ---- */
.window
{
  display: flex;
  text-align: center;
  margin-top: auto;
  justify-content: center;
  background-color: #fff5f2;
  bottom: 0;
  position: fixed;
  width: 100%;!important
  height:10%;
  color:pink;
  border-radius:
  /* pour occuper tout lespace de la boite du texte*/
  flex-grow: 2; /* on le met pour le paragraphe texte et ca va de 1 à 3 selon la force*/
}

.window p{
  font-size: 0.7em;
}

.cookie-button{
  border-radius: 1em;
  margin: 0.8em;
}
